{% extends "base.html" %}

{% block body %}
<div class="row homecont">
    <div class="col"></div>
    <div class="col-3 homelinks">
        <a href="{{ url_for('add_device') }}" class="btn btn-info"><h1>Add New Device</h1></a>
    </div>
    <div class="col"></div>
</div>
<div class="row homecont">
    <div class="col"></div>
    <div class="col-3 homelinks">
        <a href="{{ url_for('view_all')}}" class="btn btn-info"><h2>View All Devices</h2></a>
    </div>
    <div class="col"></div>
</div>
<div class="row homecont">
    <div class="col"></div>
    <div class="col-3 homelinks">
        <a href="{{ url_for('max_security')}}"class="btn btn-danger" ><h3>Turn on Maximum Security</h3></a>
    </div>
    <div class="col"></div>
{% endblock %}