{% extends 'base.html' %}
{% block body %}
<h2 class="title">Update {{ device.name }}</h2>
<div class="row">
    <div class="col"></div> 
    <div class="col updating">
        <form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.brightness.label(class="form-label") }}
        {{ form.brightness(class="form-control", value=device.brightness or '') }}
    </div>

    <div class="mb-3">
        {% if device.type == 'ColourLight' %}
            {{ form.colour.label }} {{ form.colour() }}
        {% endif %}
    </div>
    <div class="upbutt">
        <button type="submit" class="btn btn-success">{{ form.submit.label.text }}</button>
    </div>
</form>
    </div> 
    <div class="col"></div> 
</div>
{% endblock %}
