{% extends 'base.html' %}
{% block body %}
<h2 class="title">Update Temperature - {{ device.name }}</h2>
<div class="row">
    <div class="col"></div>
    <div class="col updating">
        <form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.temperature.label(class="form-label") }}
        {{ form.temperature(class="form-control", value=device.temperature or '') }}
    </div>
    <div class="upbutt">
        <button type="submit" class="btn btn-success">{{ form.submit.label.text }}</button>
    </div>
</form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}
